.btn {
  padding: 10px 20px;
  background: rgb(60, 167, 60);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
  margin-top: 5px;
  width: 100%;
}

.btn:hover {
  opacity: 0.8;
}